<table>
<tr>
  <td><b><%= form.label :nombre, "Nombre:" %></b></td>
  <td><%= form.text_field :nombre %></td>
</tr>
<tr>
  <td><b><%= form.label :apellidos, "Apellidos:" %></b></td>
  <td><%= form.text_field :apellidos %></td>
</tr>
<tr>
  <td><b><%= label_tag :cliente_domicilio, "Domicilio:" %></b></td>
  <td><%= form.text_field :domicilio %></td>
</tr>
<tr>
  <td><b><%= label_tag :cliente_telefono, "Teléfono:" %></b></td>
  <td><%= form.text_field :telefono %></td>
</tr>
<tr>
  <td><b><%= label_tag :correo_electronico, "Correo electrónico:" %></b></td>
  <td><%= form.text_field :correo_electronico %></td>
</tr>
<tr>
  <td><b><%= label_tag :cliente_localidad, "Localidad:" %></b></td>
  <td><%= form.text_field :localidad %></td>
</tr>
</table>
