<div class="table-responsive">
  <table class="table table-striped">
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Domicilio</th>
        <th>Télefono</th>
        <th>Correo electrónico</th>
        <th>Localidad</th>
        <th colspan="3">Acciones</th>
        <th>Trabajos</th>
      </tr>

    <% for cliente in @clientes %>
      <tr>
        <td><%=h cliente.nombre %></td>
        <td><%=h cliente.apellidos %></td>
        <td><%=h cliente.domicilio %></td>
        <td><%=h cliente.telefono %></td>
        <td><%=h cliente.correo_electronico %></td>
        <td><%=h cliente.localidad %></td>
        <td><%= link_to 'Ver', cliente %></td>
        <td><%= link_to 'Editar', edit_cliente_path(cliente) %></td>
        <td><%= link_to 'Borrar', cliente, data: {confirm: "¿Está seguro de borrar al cliente #{cliente.nombre}?"}, :method => :delete %></td>
        <td class="jobs"><%= link_to 'Órdenes de trabajo', cliente_ordenes_trabajo_path(cliente) %></td>
      </tr>
    <% end %>
    </table>
</div>
<% params[:action] = "index" %>
<%= will_paginate @clientes, :prev_label => "&laquo; Anterior", :next_label => "Siguiente &raquo;" %>
