<% @title = "Editar cliente" %>
<% @navbar = [link_to('<span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Clientes'.html_safe, clientes_path), @title] %>

<%= error_messages_for :cliente %>

<div class="table-responsive tblclient">
  <%= form_for(@cliente) do |form| %>
      <%= render :partial => 'form', :object => form %>
      <%= form.submit 'Guardar edición cliente', :class => 'btn btn-warning pull-right' %>
      <%= link_to '<span class="glyphicon glyphicon-circle-arrow-left"></span>&nbsp;&nbsp;Volver atrás'.html_safe, clientes_path %>
  <% end %>
</div>

