<table class="table table-striped">
<tr>
  <td><b>Cliente:</b></td>
  <td><%= link_to(@cliente.nombre, @cliente) %></td>
</tr>
<tr>
  <td><b>Domicilio:</b></td>
  <td><%= @cliente.domicilio %></td>
</tr>
<tr>
  <td><b>Teléfono:</b></td>
  <td><%= @cliente.telefono %></td>
</tr>
<tr>
  <td colspan="2"><br /><hr /><br /></td>
</tr>
<tr>
  <td><b><%= form.label :descripcion, "Descripción:" %></b></td>
  <td><%= form.text_field :descripcion, class: 'form-control' %></td>
</tr>
<tr>
  <td><b><%= form.label :fecha, "Fecha:" %></b></td>
  <td><%= form.text_field :fecha, size: 10, class: 'datepicker form-control' %></td>
</tr>
<tr>
  <td><b><%= form.label :fecha_entrega, "Para el día:" %></b></td>
  <td><%= form.text_field :fecha_entrega, size: 10, class: 'datepicker form-control' %></td>
</tr>
<tr>
  <td colspan="2"><br /><hr /><br /></td>
</tr>
<tr>
  <td colspan="2"><b>LEJOS</b></td>
</tr>
<tr>
  <td><b>Ojo derecho:</b></td>
  <td>
    <table>
      <tr>
        <td>Esf.</td>
        <td><%= form.text_field :lejos_od_esferico, class: 'form-control',
                                :value => '%+.2f' % @orden_trabajo.lejos_od_esferico, :size => 5 %></td>
        <td>Cil.</td>
        <td><%= form.text_field :lejos_od_cilindrico, class: 'form-control',
                                :value => '%+.2f' % @orden_trabajo.lejos_od_cilindrico, :size => 5 %></td>
        <td>en</td>
        <td><%= form.text_field :lejos_od_grados, class: 'form-control', :size => 5 %></td>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td><b>Ojo izquierdo:</b></td>
  <td>
    <table>
      <tr>
      <tr>
        <td>Esf.</td>
        <td><%= form.text_field :lejos_oi_esferico, class: 'form-control',
                                :value => '%+.2f' % @orden_trabajo.lejos_oi_esferico, :size => 5 %></td>
        <td>Cil.</td>
        <td><%= form.text_field :lejos_oi_cilindrico, class: 'form-control',
                                :value => '%+.2f' % @orden_trabajo.lejos_oi_cilindrico, :size => 5 %></td>
        <td>en</td>
        <td><%= form.text_field :lejos_oi_grados, class: 'form-control', :size => 5 %></td>
      </tr>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td><b><%= form.label :lejos_color, "Color:" %></b></td>
  <td><%= form.text_field :lejos_color, class: 'form-control' %></td>
</tr>
<tr>
  <td><b><%= form.label :lejos_armazon, "Armazón Art.:" %></b></td>
  <td><%= form.text_field :lejos_armazon, class: 'form-control' %></td>
</tr>
<tr>
  <td><b><%= form.label :lejos_tipo_lente, "Tipo de lente:" %></b></td>
  <td><%= form.text_field :lejos_tipo_lente, class: 'form-control' %></td>
</tr>
<tr>
  <td><b><%= form.label :lejos_distancia_interpupilar, "Distancia interpupilar:" %></b></td>
  <td><%= form.text_field :lejos_distancia_interpupilar, class: 'form-control' %></td>
</tr>
<tr>
  <td colspan="2"><br /><hr /><br /></td>
</tr>
<tr>
  <td colspan="2"><b>INTERMEDIO</b></td>
</tr>
<tr>
  <td><b>Ojo derecho:</b></td>
  <td>
    <table>
      <tr>
        <td>Esf.</td>
        <td><%= form.text_field :intermedio_od_esferico, class: 'form-control',
                                :value => '%+.2f' % @orden_trabajo.intermedio_od_esferico, :size => 5 %></td>
        <td>Cil.</td>
        <td><%= form.text_field :intermedio_od_cilindrico, class: 'form-control',
                                :value => '%+.2f' % @orden_trabajo.intermedio_od_cilindrico, :size => 5 %></td>
        <td>en</td>
        <td><%= form.text_field :intermedio_od_grados, class: 'form-control', :size => 5 %></td>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td><b>Ojo izquierdo:</b></td>
  <td>
    <table>
      <tr>
      <tr>
        <td>Esf.</td>
        <td><%= form.text_field :intermedio_oi_esferico, class: 'form-control',
                                :value => '%+.2f' % @orden_trabajo.intermedio_oi_esferico, :size => 5 %></td>
        <td>Cil.</td>
        <td><%= form.text_field :intermedio_oi_cilindrico, class: 'form-control',
                                :value => '%+.2f' % @orden_trabajo.intermedio_oi_cilindrico, :size => 5 %></td>
        <td>en</td>
        <td><%= form.text_field :intermedio_oi_grados, class: 'form-control', :size => 5 %></td>
      </tr>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td><b><%= form.label :intermedio_color, "Color:" %></b></td>
  <td><%= form.text_field :intermedio_color, class: 'form-control' %></td>
</tr>
<tr>
  <td><b><%= form.label :intermedio_armazon, "Armazón Art.:" %></b></td>
  <td><%= form.text_field :intermedio_armazon, class: 'form-control' %></td>
</tr>
<tr>
  <td><b><%= form.label :intermedio_tipo_lente, "Tipo de lente:" %></b></td>
  <td><%= form.text_field :intermedio_tipo_lente, class: 'form-control' %></td>
</tr>
<tr>
  <td><b><%= form.label :intermedio_distancia_interpupilar, "Distancia interpupilar:" %></b></td>
  <td><%= form.text_field :intermedio_distancia_interpupilar, class: 'form-control' %></td>
</tr>
<tr>
  <td colspan="2"><br /><hr /><br /></td>
</tr>
<tr>
  <td colspan="2"><b>CERCA</b></td>
</tr>
<tr>
  <td><b>Ojo derecho:</b></td>
  <td>
    <table>
      <tr>
        <td>Esf.</td>
        <td><%= form.text_field :cerca_od_esferico, class: 'form-control',
                                :value => '%+.2f' % @orden_trabajo.cerca_od_esferico, :size => 5 %></td>
        <td>Cil.</td>
        <td><%= form.text_field :cerca_od_cilindrico, class: 'form-control',
                                :value => '%+.2f' % @orden_trabajo.cerca_od_cilindrico, :size => 5 %></td>
        <td>en</td>
        <td><%= form.text_field :cerca_od_grados, class: 'form-control', :size => 5 %></td>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td><b>Ojo izquierdo:</b></td>
  <td>
    <table>
      <tr>
      <tr>
        <td>Esf.</td>
        <td><%= form.text_field :cerca_oi_esferico, class: 'form-control',
                                :value => '%+.2f' % @orden_trabajo.cerca_oi_esferico, :size => 5 %></td>
        <td>Cil.</td>
        <td><%= form.text_field :cerca_oi_cilindrico, class: 'form-control',
                                :value => '%+.2f' % @orden_trabajo.cerca_oi_cilindrico, :size => 5 %></td>
        <td>en</td>
        <td><%= form.text_field :cerca_oi_grados, class: 'form-control', :size => 5 %></td>
      </tr>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td><b><%= form.label :cerca_color, "Color:" %></b></td>
  <td><%= form.text_field :cerca_color, class: 'form-control' %></td>
</tr>
<tr>
  <td><b><%= form.label :cerca_armazon, "Armazón Art.:" %></b></td>
  <td><%= form.text_field :cerca_armazon, class: 'form-control' %></td>
</tr>
<tr>
  <td><b><%= form.label :cerca_tipo_lente, "Tipo de lente:" %></b></td>
  <td><%= form.text_field :cerca_tipo_lente, class: 'form-control' %></td>
</tr>
<tr>
  <td><b><%= form.label :cerca_distancia_interpupilar, "Distancia interpupilar:" %></b></td>
  <td><%= form.text_field :cerca_distancia_interpupilar, class: 'form-control' %></td>
</tr>
<tr>
  <td colspan="2"><br /><hr /><br /></td>
</tr>
<tr>
  <td><b><%= form.label :bifocal, "Bifocal:" %></b></td>
  <td><%= form.text_field :bifocal, class: 'form-control' %></td>
</tr>
<tr>
  <td><b><%= form.label :altura, "Altura:" %></b></td>
  <td><%= form.text_field :altura, class: 'form-control' %></td>
</tr>
<tr>
  <td colspan="2"><br /><hr /><br /></td>
</tr>
<tr>
  <td valign="top"><b><%= form.label :observaciones, "Observaciones:" %></b></td>
  <td><%= form.text_area :observaciones, class: 'form-control', :cols => 35, :rows => 5 %></td>
</tr>
<tr>
  <td><b><%= form.label :nombre_doctor, "Receta Dr:" %></b></td>
  <td><%= form.text_field :nombre_doctor, class: 'form-control' %></td>
</tr>
<tr>
  <td><b><%= form.label :fecha_receta, "Fecha de la receta:" %></b></td>
  <td><%= form.text_field :fecha_receta, size: 10, class: 'datepicker form-control' %></td>
</tr>
<tr>
  <td><b><%= form.label :total, "Total:" %></b></td>
  <td><%= form.text_field :total, class: 'form-control' %></td>
</tr>
<tr>
  <td><b><%= form.label :senya, "Seña:" %></b></td>
  <td><%= form.text_field :senya, class: 'form-control' %></td>
</tr>
</table>
