<table width="70%">
  <tr>
    <th>Cliente</th>
    <th>Descripción</th>
    <th>Fecha de creación</th>
    <th>Fecha de actualización</th>
  </tr>

<% for orden_trabajo in @ordenes_trabajo %>
  <tr>
    <td><%=h orden_trabajo.cliente.nombre %></td>
    <td><%=h orden_trabajo.descripcion %></td>
    <td><%=h orden_trabajo.created_at.to_date %></td>
    <td><%=h orden_trabajo.updated_at.to_date %></td>
    <td><%= link_to 'Ver', [@cliente, orden_trabajo] %></td>
    <td><%= link_to 'Editar', edit_cliente_orden_trabajo_path(@cliente, orden_trabajo) %></td>
    <td><%= link_to 'Borrar', [@cliente, orden_trabajo], :confirm => "¿Está seguro de borrar la orden #{orden_trabajo.descripcion}?", :method => :delete %></td>
  </tr>
<% end %>
</table>

<% params[:action] = "index" %>
<%= will_paginate @ordenes_trabajo, :prev_label => "&laquo; Anterior", :next_label => "Siguiente &raquo;" %>
