<% @title = "Nueva órden de trabajo" %>
<% @navbar = [link_to('<span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Clientes'.html_safe, clientes_path), link_to('<span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;Órdenes de trabajo'.html_safe, cliente_ordenes_trabajo_path(@cliente)), @title ] %>

<%= error_messages_for :orden_trabajo %>

<div class="table-responsive tblclient">
    <%= form_for([@cliente, @orden_trabajo]) do |form| %>
      <%= render :partial => 'form', :object => form %>
      <%= form.submit 'Crear', :class => 'btn btn-warning pull-right' %>
    <% end %>

    <%= link_to '<span class="glyphicon glyphicon-circle-arrow-left"></span>&nbsp;&nbsp;Volver atrás'.html_safe, cliente_ordenes_trabajo_path %>
</div>