<table class="table table-striped">
  <tr>
    <td><%= form.label :nombre, "Nombre:" %></td>
    <td><%= form.text_field :nombre, class: 'form-control' %></td>
  </tr>
  <tr>
    <td><%= form.label :apellidos, "Apellido:" %></td>
    <td><%= form.text_field :apellidos, class: 'form-control' %></td>
  </tr>
  <tr>
    <td><%= label_tag :client_domicilio, "Domicilio:" %></td>
    <td><%= form.text_field :domicilio, class: 'form-control' %></td>
  </tr>
  <tr>
    <td><%= label_tag :client_localidad, "Localidad:" %></td>
    <td><%= form.text_field :localidad, class: 'form-control' %></td>
  </tr>
  <tr>
    <td><%= label_tag :client_telefono, "Teléfonos:" %></td>
    <td><%= form.text_field :telefono, class: 'form-control' %></td>
  </tr>
  <tr>
    <td><%= label_tag :correo_electronico, "Correo electrónico:" %></td>
    <td><%= form.text_field :correo_electronico, class: 'form-control' %></td>
  </tr>
  <tr>
    <td><%= label_tag :client_observaciones, "Observaciones:" %></td>
    <td><%= form.text_field :observaciones, class: 'form-control' %></td>
  </tr>
</table>