<div class="table-responsive">
  <table class="table table-striped">
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Domicilio</th>
        <th>Localidad</th>
        <th>Télefonos</th>
        <th>Correo electrónico</th>
        <th>Observaciones</th>
        <th colspan="3">Acciones</th>
        <th>Trabajos</th>
      </tr>

    <% for client in @clients %>
      <tr>
        <td><%=h client.name %></td>
        <td><%=h client.surname %></td>
        <td><%=h client.address %></td>
        <td><%=h client.city %></td>
        <td><%=h client.phone_number %></td>
        <td><%=h client.email %></td>
        <td><%=h client.comments %></td>
        <td><%= link_to 'Ver', client %></td>
        <td><%= link_to 'Editar', edit_client_path(client) %></td>
        <td><%= link_to 'Borrar', client, data: {confirm: "¿Está seguro de borrar al client #{client.name}?"}, :method => :delete %></td>
        <td class="jobs"><%= link_to 'Órdenes de trabajo', client_work_orders_path(client) %></td>
      </tr>
    <% end %>
    </table>
</div>
<% params[:action] = "index" %>
<%= will_paginate @clients, :prev_label => "&laquo; Anterior", :next_label => "Siguiente &raquo;" %>
