<table class="table table-striped">
<tr>
  <td><b>Client:</b></td>
  <td><%= link_to(@client.name, @client) %></td>
</tr>
<tr>
  <td><b>Domicilio:</b></td>
  <td><%= @client.address %></td>
</tr>
<tr>
  <td><b>Teléfono:</b></td>
  <td><%= @client.phone_number %></td>
</tr>
<tr>
  <td colspan="2"><br /><hr /><br /></td>
</tr>
<tr>
  <td><b><%= form.label :description, "Descripción:" %></b></td>
  <td><%= form.text_field :description, class: 'form-control' %></td>
</tr>
<tr>
  <td><b><%= form.label :date, "Fecha:" %></b></td>
  <td><%= form.text_field :date, size: 10, class: 'datepicker form-control' %></td>
</tr>
<tr>
  <td><b><%= form.label :delivery_date, "Para el día:" %></b></td>
  <td><%= form.text_field :delivery_date, size: 10, class: 'datepicker form-control' %></td>
</tr>
<tr>
  <td colspan="2"><br /><hr /><br /></td>
</tr>
<tr>
  <td colspan="2"><b>LEJOS</b></td>
</tr>
<tr>
  <td><b>Ojo derecho:</b></td>
  <td>
    <table>
      <tr>
        <td>Esf.</td>
        <td><%= form.text_field :distance_right_sph, class: 'form-control',
                                :value => '%+.2f' % @work_order.distance_right_sph, :size => 5 %></td>
        <td>Cil.</td>
        <td><%= form.text_field :distance_right_cyl, class: 'form-control',
                                :value => '%+.2f' % @work_order.distance_right_cyl, :size => 5 %></td>
        <td>en</td>
        <td><%= form.text_field :distance_right_axis, class: 'form-control', :size => 5 %></td>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td><b>Ojo izquierdo:</b></td>
  <td>
    <table>
      <tr>
      <tr>
        <td>Esf.</td>
        <td><%= form.text_field :distance_left_sph, class: 'form-control',
                                :value => '%+.2f' % @work_order.distance_left_sph, :size => 5 %></td>
        <td>Cil.</td>
        <td><%= form.text_field :distance_left_cyl, class: 'form-control',
                                :value => '%+.2f' % @work_order.distance_left_cyl, :size => 5 %></td>
        <td>en</td>
        <td><%= form.text_field :distance_left_axis, class: 'form-control', :size => 5 %></td>
      </tr>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td><b><%= form.label :distance_lens_color, "Color:" %></b></td>
  <td><%= form.text_field :distance_lens_color, class: 'form-control' %></td>
</tr>
<tr>
  <td><b><%= form.label :distance_frame, "Armazón Art.:" %></b></td>
  <td><%= form.text_field :distance_frame, class: 'form-control' %></td>
</tr>
<tr>
  <td><b><%= form.label :distance_lens_type, "Tipo de lente:" %></b></td>
  <td><%= form.text_field :distance_lens_type, class: 'form-control' %></td>
</tr>
<tr>
  <td><b><%= form.label :distance_ipd, "Distancia interpupilar:" %></b></td>
  <td><%= form.text_field :distance_ipd, class: 'form-control' %></td>
</tr>
<tr>
  <td colspan="2"><br /><hr /><br /></td>
</tr>
<tr>
  <td colspan="2"><b>INTERMEDIO</b></td>
</tr>
<tr>
  <td><b>Ojo derecho:</b></td>
  <td>
    <table>
      <tr>
        <td>Esf.</td>
        <td><%= form.text_field :intermediate_right_sph, class: 'form-control',
                                :value => '%+.2f' % @work_order.intermediate_right_sph, :size => 5 %></td>
        <td>Cil.</td>
        <td><%= form.text_field :intermediate_right_cyl, class: 'form-control',
                                :value => '%+.2f' % @work_order.intermediate_right_cyl, :size => 5 %></td>
        <td>en</td>
        <td><%= form.text_field :intermediate_right_axis, class: 'form-control', :size => 5 %></td>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td><b>Ojo izquierdo:</b></td>
  <td>
    <table>
      <tr>
      <tr>
        <td>Esf.</td>
        <td><%= form.text_field :intermediate_left_sph, class: 'form-control',
                                :value => '%+.2f' % @work_order.intermediate_left_sph, :size => 5 %></td>
        <td>Cil.</td>
        <td><%= form.text_field :intermediate_left_cyl, class: 'form-control',
                                :value => '%+.2f' % @work_order.intermediate_left_cyl, :size => 5 %></td>
        <td>en</td>
        <td><%= form.text_field :intermediate_left_axis, class: 'form-control', :size => 5 %></td>
      </tr>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td><b><%= form.label :intermediate_lens_color, "Color:" %></b></td>
  <td><%= form.text_field :intermediate_lens_color, class: 'form-control' %></td>
</tr>
<tr>
  <td><b><%= form.label :intermediate_frame, "Armazón Art.:" %></b></td>
  <td><%= form.text_field :intermediate_frame, class: 'form-control' %></td>
</tr>
<tr>
  <td><b><%= form.label :intermediate_lens_type, "Tipo de lente:" %></b></td>
  <td><%= form.text_field :intermediate_lens_type, class: 'form-control' %></td>
</tr>
<tr>
  <td><b><%= form.label :intermediate_ipd, "Distancia interpupilar:" %></b></td>
  <td><%= form.text_field :intermediate_ipd, class: 'form-control' %></td>
</tr>
<tr>
  <td colspan="2"><br /><hr /><br /></td>
</tr>
<tr>
  <td colspan="2"><b>CERCA</b></td>
</tr>
<tr>
  <td><b>Ojo derecho:</b></td>
  <td>
    <table>
      <tr>
        <td>Esf.</td>
        <td><%= form.text_field :near_right_sph, class: 'form-control',
                                :value => '%+.2f' % @work_order.near_right_sph, :size => 5 %></td>
        <td>Cil.</td>
        <td><%= form.text_field :near_right_cyl, class: 'form-control',
                                :value => '%+.2f' % @work_order.near_right_cyl, :size => 5 %></td>
        <td>en</td>
        <td><%= form.text_field :near_right_axis, class: 'form-control', :size => 5 %></td>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td><b>Ojo izquierdo:</b></td>
  <td>
    <table>
      <tr>
      <tr>
        <td>Esf.</td>
        <td><%= form.text_field :near_left_sph, class: 'form-control',
                                :value => '%+.2f' % @work_order.near_left_sph, :size => 5 %></td>
        <td>Cil.</td>
        <td><%= form.text_field :near_left_cyl, class: 'form-control',
                                :value => '%+.2f' % @work_order.near_left_cyl, :size => 5 %></td>
        <td>en</td>
        <td><%= form.text_field :near_left_axis, class: 'form-control', :size => 5 %></td>
      </tr>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td><b><%= form.label :near_lens_color, "Color:" %></b></td>
  <td><%= form.text_field :near_lens_color, class: 'form-control' %></td>
</tr>
<tr>
  <td><b><%= form.label :near_frame, "Armazón Art.:" %></b></td>
  <td><%= form.text_field :near_frame, class: 'form-control' %></td>
</tr>
<tr>
  <td><b><%= form.label :near_lens_type, "Tipo de lente:" %></b></td>
  <td><%= form.text_field :near_lens_type, class: 'form-control' %></td>
</tr>
<tr>
  <td><b><%= form.label :near_ipd, "Distancia interpupilar:" %></b></td>
  <td><%= form.text_field :near_ipd, class: 'form-control' %></td>
</tr>
<tr>
  <td colspan="2"><br /><hr /><br /></td>
</tr>
<tr>
  <td><b><%= form.label :bifocal, "Bifocal:" %></b></td>
  <td><%= form.text_field :bifocal, class: 'form-control' %></td>
</tr>
<tr>
  <td><b><%= form.label :height, "Altura:" %></b></td>
  <td><%= form.text_field :height, class: 'form-control' %></td>
</tr>
<tr>
  <td colspan="2"><br /><hr /><br /></td>
</tr>
<tr>
  <td valign="top"><b><%= form.label :comments, "Observaciones:" %></b></td>
  <td><%= form.text_area :comments, class: 'form-control', :cols => 35, :rows => 5 %></td>
</tr>
<tr>
  <td><b><%= form.label :doctor_name, "Receta Dr:" %></b></td>
  <td><%= form.text_field :doctor_name, class: 'form-control' %></td>
</tr>
<tr>
  <td><b><%= form.label :prescription_date, "Fecha de la receta:" %></b></td>
  <td><%= form.text_field :prescription_date, size: 10, class: 'datepicker form-control' %></td>
</tr>
<tr>
  <td><b><%= form.label :invoice, "Total:" %></b></td>
  <td><%= form.text_field :invoice, class: 'form-control' %></td>
</tr>
<tr>
  <td><b><%= form.label :payment_on_account, "Seña:" %></b></td>
  <td><%= form.text_field :payment_on_account, class: 'form-control' %></td>
</tr>
</table>
