<% @title = "Mostrar órden de trabajo" %>
<% @navbar = [link_to('<span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Clients'.html_safe, clients_path), link_to('<span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;Órdenes de trabajo'.html_safe, client_work_orders_path(@client)), @title] %>

<div class="table-responsive tblclient">
  <div>
    <%= link_to '<span class="print_link glyphicon glyphicon-print"></span>&nbsp;&nbsp;Imprimir órden de trabajo'.html_safe, 'javascript:window.print()' %>
  </div>
  <br />
  <table class="table table-striped">
    <tr>
      <td><b>Fecha de creación:</b></td>
      <td><b><%= @work_order.created_at.to_date %></b></td>
    </tr>
    <tr>
      <td><b>Fecha de actualización:</b></td>
      <td><%= @work_order.updated_at.to_date %></td>
    </tr>
    <tr>
      <td><b>Número de órden:</b></td>
      <td><%= @work_order.order_number %></td>
    </tr>
    <tr>
      <td><b>Client:</b></td>
      <td><%= @work_order.client.name %></td>
    </tr>
    <tr>
      <td><b>Descripción:</b></td>
      <td><%= @work_order.description %></td>
    </tr>
    <tr>
      <td><b>Fecha:</b></td>
      <td><%= @work_order.date %></td>
    </tr>
    <tr>
      <td><b>Para el día:</b></td>
      <td><%= @work_order.delivery_date %></td>
    </tr>
    <tr>
      <td colspan="2"><br/>
        <hr/>
        <br/></td>
    </tr>
    <tr>
      <td colspan="2"><b>LEJOS</b></td>
    </tr>
    <tr>
      <td><b>Ojo derecho:</b></td>
      <td>
        <table>
          <tr>
            <td>Esf.</td>
            <td><%= '%+.2f' % @work_order.distance_right_sph %></td>
            <td>Cil.</td>
            <td><%= '%+.2f' % @work_order.distance_right_cyl %></td>
            <td>en</td>
            <td><%= @work_order.distance_right_axis %></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td><b>Ojo izquierdo:</b></td>
      <td>
        <table>
          <tr>
          <tr>
            <td>Esf.</td>
            <td><%= '%+.2f' % @work_order.distance_left_sph %></td>
            <td>Cil.</td>
            <td><%= '%+.2f' % @work_order.distance_left_cyl %></td>
            <td>en</td>
            <td><%= @work_order.distance_left_axis %></td>
          </tr>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td><b>Color:</b></td>
      <td><%= @work_order.distance_lens_color %></td>
    </tr>
    <tr>
      <td><b>Armazón Art.:</b></td>
      <td><%= @work_order.distance_frame %></td>
    </tr>
    <tr>
      <td><b>Tipo de lente:</b></td>
      <td><%= @work_order.distance_lens_type %></td>
    </tr>
    <tr>
      <td><b>Distancia interpupilar:</b></td>
      <td><%= @work_order.distance_ipd %></td>
    </tr>
    <tr>
      <td colspan="2"><br/>
        <hr/>
        <br/></td>
    </tr>
    <tr>
      <td colspan="2"><b>INTERMEDIO</b></td>
    </tr>
    <tr>
      <td><b>Ojo derecho:</b></td>
      <td>
        <table>
          <tr>
            <td>Esf.</td>
            <td><%= '%+.2f' % @work_order.intermediate_right_sph %></td>
            <td>Cil.</td>
            <td><%= '%+.2f' % @work_order.intermediate_right_cyl %></td>
            <td>en</td>
            <td><%= @work_order.intermediate_right_axis %></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td><b>Ojo izquierdo:</b></td>
      <td>
        <table>
          <tr>
          <tr>
            <td>Esf.</td>
            <td><%= '%+.2f' % @work_order.intermediate_left_sph %></td>
            <td>Cil.</td>
            <td><%= '%+.2f' % @work_order.intermediate_left_cyl %></td>
            <td>en</td>
            <td><%= @work_order.intermediate_left_axis %></td>
          </tr>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td><b>Color:</b></td>
      <td><%= @work_order.intermediate_lens_color %></td>
    </tr>
    <tr>
      <td><b>Armazón Art.:</b></td>
      <td><%= @work_order.intermediate_frame %></td>
    </tr>
    <tr>
      <td><b>Tipo de lente:</b></td>
      <td><%= @work_order.intermediate_lens_type %></td>
    </tr>
    <tr>
      <td><b>Distancia interpupilar:</b></td>
      <td><%= @work_order.intermediate_ipd %></td>
    </tr>
    <tr>
      <td colspan="2"><br/>
        <hr/>
        <br/></td>
    </tr>
    <tr>
      <td colspan="2"><b>CERCA</b></td>
    </tr>
    <tr>
      <td><b>Ojo derecho:</b></td>
      <td>
        <table>
          <tr>
            <td>Esf.</td>
            <td><%= '%+.2f' % @work_order.near_right_sph %></td>
            <td>Cil.</td>
            <td><%= '%+.2f' % @work_order.near_right_cyl %></td>
            <td>en</td>
            <td><%= @work_order.near_right_axis %></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td><b>Ojo izquierdo:</b></td>
      <td>
        <table>
          <tr>
          <tr>
            <td>Esf.</td>
            <td><%= '%+.2f' % @work_order.near_left_sph %></td>
            <td>Cil.</td>
            <td><%= '%+.2f' % @work_order.near_left_cyl %></td>
            <td>en</td>
            <td><%= @work_order.near_left_axis %></td>
          </tr>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td><b>Color:</b></td>
      <td><%= @work_order.near_lens_color %></td>
    </tr>
    <tr>
      <td><b>Armazón Art.:</b></td>
      <td><%= @work_order.near_frame %></td>
    </tr>
    <tr>
      <td><b>Tipo de lente:</b></td>
      <td><%= @work_order.near_lens_type %></td>
    </tr>
    <tr>
      <td><b>Distancia interpupilar:</b></td>
      <td><%= @work_order.near_ipd %></td>
    </tr>
    <tr>
      <td colspan="2"><br/>
        <hr/>
        <br/></td>
    </tr>
    <tr>
      <td><b>Bifocal:</b></td>
      <td><%= @work_order.bifocal %></td>
    </tr>
    <tr>
      <td><b>Altura:</b></td>
      <td><%= @work_order.height %></td>
    </tr>
    <tr>
      <td colspan="2"><br/>
        <hr/>
        <br/></td>
    </tr>
    <tr>
      <td valign="top"><b>Observaciones:</b></td>
      <td><%= @work_order.comments %></td>
    </tr>
    <tr>
      <td><b>Receta Dr:</b></td>
      <td><%= @work_order.doctor_name %></td>
    </tr>
    <tr>
      <td><b>Fecha de la receta:</b></td>
      <td><%= @work_order.prescription_date %></td>
    </tr>
    <tr>
      <td><b>Total:</b></td>
      <td><%= number_to_currency @work_order.invoice %></td>
    </tr>
    <tr>
      <td><b>Seña:</b></td>
      <td><%= number_to_currency @work_order.payment_on_account %></td>
    </tr>
    <tr>
      <td><b>Saldo:</b></td>
      <td><%= number_to_currency @work_order.balance_due %></td>
    </tr>
  </table>
  <div class="print_link">
    <%= link_to '<span class="glyphicon glyphicon-circle-arrow-left"></span>&nbsp;&nbsp;Volver atrás'.html_safe, client_work_orders_path %>
    <%= link_to 'Editar órden de trabajo', edit_client_work_order_path(@client, @work_order), :class => 'btn btn-warning pull-right' %>
  </div>
</div>
