<% @title = "Mostrar órden de trabajo" %>
<% @navbar = [link_to('<span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Clients'.html_safe, clients_path), link_to('<span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;Órdenes de trabajo'.html_safe, client_work_orders_path(@client)), @title] %>

<div class="table-responsive tblclient">
  <div>
    <%= link_to '<span class="print_link glyphicon glyphicon-print"></span>&nbsp;&nbsp;Imprimir órden de trabajo'.html_safe, 'javascript:window.print()' %>
  </div>
  <br />
  <table class="table table-striped">
    <tr>
      <td><b>Fecha de creación:</b></td>
      <td><b><%= @work_order.created_at.to_date %></b></td>
    </tr>
    <tr>
      <td><b>Fecha de actualización:</b></td>
      <td><%= @work_order.updated_at.to_date %></td>
    </tr>
    <tr>
      <td><b>Número de órden:</b></td>
      <td><%= @work_order.numero %></td>
    </tr>
    <tr>
      <td><b>Client:</b></td>
      <td><%= @work_order.client.nombre %></td>
    </tr>
    <tr>
      <td><b>Descripción:</b></td>
      <td><%= @work_order.descripcion %></td>
    </tr>
    <tr>
      <td><b>Fecha:</b></td>
      <td><%= @work_order.fecha %></td>
    </tr>
    <tr>
      <td><b>Para el día:</b></td>
      <td><%= @work_order.fecha_entrega %></td>
    </tr>
    <tr>
      <td colspan="2"><br/>
        <hr/>
        <br/></td>
    </tr>
    <tr>
      <td colspan="2"><b>LEJOS</b></td>
    </tr>
    <tr>
      <td><b>Ojo derecho:</b></td>
      <td>
        <table>
          <tr>
            <td>Esf.</td>
            <td><%= '%+.2f' % @work_order.lejos_od_esferico %></td>
            <td>Cil.</td>
            <td><%= '%+.2f' % @work_order.lejos_od_cilindrico %></td>
            <td>en</td>
            <td><%= @work_order.lejos_od_grados %></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td><b>Ojo izquierdo:</b></td>
      <td>
        <table>
          <tr>
          <tr>
            <td>Esf.</td>
            <td><%= '%+.2f' % @work_order.lejos_oi_esferico %></td>
            <td>Cil.</td>
            <td><%= '%+.2f' % @work_order.lejos_oi_cilindrico %></td>
            <td>en</td>
            <td><%= @work_order.lejos_oi_grados %></td>
          </tr>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td><b>Color:</b></td>
      <td><%= @work_order.lejos_color %></td>
    </tr>
    <tr>
      <td><b>Armazón Art.:</b></td>
      <td><%= @work_order.lejos_armazon %></td>
    </tr>
    <tr>
      <td><b>Tipo de lente:</b></td>
      <td><%= @work_order.lejos_tipo_lente %></td>
    </tr>
    <tr>
      <td><b>Distancia interpupilar:</b></td>
      <td><%= @work_order.lejos_distancia_interpupilar %></td>
    </tr>
    <tr>
      <td colspan="2"><br/>
        <hr/>
        <br/></td>
    </tr>
    <tr>
      <td colspan="2"><b>INTERMEDIO</b></td>
    </tr>
    <tr>
      <td><b>Ojo derecho:</b></td>
      <td>
        <table>
          <tr>
            <td>Esf.</td>
            <td><%= '%+.2f' % @work_order.intermedio_od_esferico %></td>
            <td>Cil.</td>
            <td><%= '%+.2f' % @work_order.intermedio_od_cilindrico %></td>
            <td>en</td>
            <td><%= @work_order.intermedio_od_grados %></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td><b>Ojo izquierdo:</b></td>
      <td>
        <table>
          <tr>
          <tr>
            <td>Esf.</td>
            <td><%= '%+.2f' % @work_order.intermedio_oi_esferico %></td>
            <td>Cil.</td>
            <td><%= '%+.2f' % @work_order.intermedio_oi_cilindrico %></td>
            <td>en</td>
            <td><%= @work_order.intermedio_oi_grados %></td>
          </tr>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td><b>Color:</b></td>
      <td><%= @work_order.intermedio_color %></td>
    </tr>
    <tr>
      <td><b>Armazón Art.:</b></td>
      <td><%= @work_order.intermedio_armazon %></td>
    </tr>
    <tr>
      <td><b>Tipo de lente:</b></td>
      <td><%= @work_order.intermedio_tipo_lente %></td>
    </tr>
    <tr>
      <td><b>Distancia interpupilar:</b></td>
      <td><%= @work_order.intermedio_distancia_interpupilar %></td>
    </tr>
    <tr>
      <td colspan="2"><br/>
        <hr/>
        <br/></td>
    </tr>
    <tr>
      <td colspan="2"><b>CERCA</b></td>
    </tr>
    <tr>
      <td><b>Ojo derecho:</b></td>
      <td>
        <table>
          <tr>
            <td>Esf.</td>
            <td><%= '%+.2f' % @work_order.cerca_od_esferico %></td>
            <td>Cil.</td>
            <td><%= '%+.2f' % @work_order.cerca_od_cilindrico %></td>
            <td>en</td>
            <td><%= @work_order.cerca_od_grados %></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td><b>Ojo izquierdo:</b></td>
      <td>
        <table>
          <tr>
          <tr>
            <td>Esf.</td>
            <td><%= '%+.2f' % @work_order.cerca_oi_esferico %></td>
            <td>Cil.</td>
            <td><%= '%+.2f' % @work_order.cerca_oi_cilindrico %></td>
            <td>en</td>
            <td><%= @work_order.cerca_oi_grados %></td>
          </tr>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td><b>Color:</b></td>
      <td><%= @work_order.cerca_color %></td>
    </tr>
    <tr>
      <td><b>Armazón Art.:</b></td>
      <td><%= @work_order.cerca_armazon %></td>
    </tr>
    <tr>
      <td><b>Tipo de lente:</b></td>
      <td><%= @work_order.cerca_tipo_lente %></td>
    </tr>
    <tr>
      <td><b>Distancia interpupilar:</b></td>
      <td><%= @work_order.cerca_distancia_interpupilar %></td>
    </tr>
    <tr>
      <td colspan="2"><br/>
        <hr/>
        <br/></td>
    </tr>
    <tr>
      <td><b>Bifocal:</b></td>
      <td><%= @work_order.bifocal %></td>
    </tr>
    <tr>
      <td><b>Altura:</b></td>
      <td><%= @work_order.altura %></td>
    </tr>
    <tr>
      <td colspan="2"><br/>
        <hr/>
        <br/></td>
    </tr>
    <tr>
      <td valign="top"><b>Observaciones:</b></td>
      <td><%= @work_order.observaciones %></td>
    </tr>
    <tr>
      <td><b>Receta Dr:</b></td>
      <td><%= @work_order.nombre_doctor %></td>
    </tr>
    <tr>
      <td><b>Fecha de la receta:</b></td>
      <td><%= @work_order.fecha_receta %></td>
    </tr>
    <tr>
      <td><b>Total:</b></td>
      <td><%= number_to_currency @work_order.total %></td>
    </tr>
    <tr>
      <td><b>Seña:</b></td>
      <td><%= number_to_currency @work_order.senya %></td>
    </tr>
    <tr>
      <td><b>Saldo:</b></td>
      <td><%= number_to_currency @work_order.saldo %></td>
    </tr>
  </table>
  <div class="print_link">
    <%= link_to '<span class="glyphicon glyphicon-circle-arrow-left"></span>&nbsp;&nbsp;Volver atrás'.html_safe, client_work_orders_path %>
    <%= link_to 'Editar órden de trabajo', edit_client_work_order_path(@client, @work_order), :class => 'btn btn-warning pull-right' %>
  </div>
</div>
