<!DOCTYPE html>
<html lang="es">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8"/>
  <%= favicon_link_tag "favicon.png?v=#{Time.now.to_i}", type: 'image/png' %>
  <%= stylesheet_link_tag 'application', :media => :screen %>
  <%= stylesheet_link_tag 'application-print', :media => :print %>
  <%= javascript_include_tag 'application' %>
  <!--[if gte IE 5]>
    <%= stylesheet_link_tag "application-ie", :media => :screen %>
    <![endif]-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <title>
    <%=
        if @title then
          site_name + ' - ' + @title
        else
          site_name
        end
    %>
  </title>
</head>
<body>
<div class="container">
  <header>
    <div class="title"><h1><%= site_name %></h1></div>
    <div class="logo"></div>
  </header>
  <div class="main">
    <nav class="navlist">
      <ul class="nav nav-tabs">
        <% if current_user -%>
            <li class="active" role="navigation">
              <%= link_to '<span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;Home'.html_safe,
                          {:controller => :user} %>
            </li>
        <% else -%>
            <li class="active" role="navigation">
              <%= link_to '<span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;Home'.html_safe,
                          {:controller => :main} %>
            </li>
        <% end -%>
        <% if @navbar then %>
            <% for item in @navbar -%>
                <li class="navitems" role="navigation"><%= item %></li>
            <% end -%>
        <% end %>
        <li class="navbar-right">
          <% if current_user %>
              Autenticado como <%= current_user %> - <%= link_cierre_sesion %>
          <% else %>
              &nbsp;
          <% end %>
        </li>
      </ul>
    </nav>

    <nav class="navbar navbar-default navbar-left menu-left">
      <h3>Clientes</h3>
      <ul class="nav nav-pills nav-stacked">
        <%= nav_link "Nuevo cliente", new_cliente_path %>
        <%= nav_link "Ver clientes", clientes_path %>
        <%= nav_link "Importar órdenes", import_file_ordenes_trabajo_path %>
      </ul>
    </nav>

    <aside>
      <%= show_flash %>
      <div>
        <%= yield %>
      </div>
    </aside>
  </div>

  <div class="clearfix"></div>
  <br /><br />
  <div class="panel-footer footer text-center">
    <footer>
      <span class="left copyleft"><strong>2007&nbsp;-&nbsp;<%= Date.today.year %>.</strong>
        <muted>Roberto Romero & Karina Arena.</muted></span>
    </footer>
  </div>
</div>
</body>
</html>
